.features {
    background-color: $light-section-background;

    .col {
        padding: 20px;
        padding-left: 70px;
    }

    svg {
        width: 50px;
        position: absolute;
        left: 35px;
        fill: $light-accent-color;
    }

    @media (min-width: 768px) {
        .col {
            padding-left: 0;
        }

        svg {
            width: 40px;
            position: initial; 
        }
    }
}
