.feature-container {
    // .row {
    background-color: $light-section-background;

    .col {
        // flex: 1 0 40%;
        padding: 20px;
        padding-left: 70px;
    }
    // }

    svg {
        width: 50px;
        position: absolute;
        left: 40px;
        fill: $light-accent-color;
    }

    @media (min-width: 768px) {
        .col {
            padding-left: 0;
        }

        svg {
            width: 40px;
            position: initial; 
        }
    }
}
