body {
    font-family: Lato, $fallback-fonts;
    font-weight: 300;
    font-size: 18px;

    h1, h2, h3 {
        font-family: Raleway, $fallback-fonts;
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    h2 {
        font-variant: small-caps;
        text-align: center;
        padding-top: 30px;
    }
}