// create a header place holder using %
// extend that placeholder for compact and full header


header {
    background-image: linear-gradient(to bottom, #391D18, $light-accent-color);
    padding-top: 20px;
    padding-bottom: 40px;
    color: #FFF;

    h1 {
        font-size: 2.5em; 
        font-weight: 100;
    }

    .row {
        display: flex;
        flex-flow: row wrap;

        .col {
            flex: 1;
        }

        .icon-link {
            color: #FFF;
            position: absolute;
            right: 25px;
            font-size: 2.5rem;
        }         

        @media (min-width: 768px) {
            flex-flow: row wrap;
            width: 45%;
        }
    }

    .button-link {
        display: none;
    }

    @media (min-width: 992px) {
        background-image: url(../img/header.jpg);
        background-size: cover;
        background-position: 100% 100%;
        color: #000;
        padding-top: 150px;

        h1 {
            font-size: 6rem;
        }

        p {
            font-size: 1.5em;
        }
        
        .icon-link {
            display: none;
        }

        .button-link {
            display: block;
            color: #FFF;
            font-size: 18px;
            background-color: $light-accent-color;
            text-decoration: none;
            border: 1px solid $dark-accent-color;
            padding: 0.5em 1em;
            width: 140px;
        }        
    }
}
