.mdl-layout__header {
    background-color: #000;
}

.mdl-js-textfield,
.row-genres {
    padding: 16px 20px;
    max-width: 250px;
}

.row {
    display: flex;
    flex: 1;
}

.row-movies {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
}

.col-movie-card {
    margin: 5px;
    border: 1px solid #AAA;
    width: 48%;
}