body {
    font-family: Lato, 'Helevetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
}

/* apply this to ALL headings */
h1, h2, h3 { 
    font-family: Raleway, 'Helevetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 50px;
    font-weight: 100;
}

header {
    background-image: linear-gradient(to bottom, #391D18, #814236);
    padding-top: 200px;
    padding-bottom: 40px;
}

p {
    line-height: 1.43;
    margin-top: 0;
    margin-bottom: 1rem;
}

/* general container element to constrain content width on wider screens */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; 
}

svg {
    width: 40px;
    fill: #814236;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

.col {
    flex-grow: 1;
    padding: 0 0.25em;
}

@media (min-width: 768px) {
    .container {
        width: 750px; 
    } 

    /*hide button element*/
}

@media (min-width: 992px) {
    .container {
        width: 970px; 
    }

    header {
        background-image: url(../img/header.jpg);
        background-size: cover;
        background-position: 100% 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px; 
    } 
}

.shopping-cart-button {
    color: #FFF;
    font-size: 14px;
    background-color: #814236;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: #391D18;
    padding: 0.5em 1em;
}